:root {
    --font: -apple-system, 'Satoshi-Regular', sans-serif;
}

body[data-theme='dark'] {
    --bg-card: #292C2C;
}

.tag {
    padding: .5rem 1rem;
    min-width: 50px;
    text-align: center;
    border: 1px solid var(--color-border);
    border-radius: var(--size-8);
    background-color: var(--bg-accent);
}

.other_posts {
    display: grid;
    gap: 2rem;
}

.post:focus-within .post_title,
.post_title:hover,
.post:hover .post_title {
    text-decoration: underline;
}

.post_image,
img {
    width: 100%;
    aspect-ratio: 5/3;
    max-height: 300px;
    object-fit: cover;
}

.post_title {
    line-height: 120%;
}

.title {
    margin-bottom: 0;
    font-size: clamp(1.5rem, 7vmin, 2.5rem);
}

a.post_title {
    color: var(--color-secondary);
}


.col {
    display: grid;
    gap: 1rem;
}

.preview {
    padding: .5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--size-4);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80vh;
}

.preview_title {
    margin-top: 0;
    margin-bottom: .25rem;
}

pre {
    border-radius: var(--size-4);
    background-color: var(--bg-secondary);
    padding: .5rem;
}

code {
    white-space: break-spaces;
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #676767;
}

@media screen and (orientation=landscape) {
    .intro_post {
        display: grid;
        gap: 1rem;
        column-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    }

    .other_posts {
        grid-template-columns: repeat(3, 1fr);
    }

    .col {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (aspect-ratio<=3/2) and (orientation=landscape) {
    .other_posts {
        grid-template-columns: repeat(2, 1fr);
    }
}