/* UTILITY COLOURS */
.col-white {
    color: var(--color-white);
}

.col-black {
    color: var(--color-black);
}

.col-pry {
    color: var(--color-primary);
}

.col-sec {
    color: var(--color-secondary);
}

.col-tert {
    color: var(--color-tertiary);
}

.col-accent {
    color: var(--color-accent);
}

.col-border {
    color: var(--color-border);
}

.col-error {
    color: var(--color-error);
}

.bg-sec {
    background-color: var(--bg-secondary);
}

.bg-tert {
    background-color: var(--bg-tertiary);
}

.bg-accent {
    background-color: var(--bg-accent);
}

.bg-error {
    background-color: var(--bg-error);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-cream {
    background-color: var(--bg-cream);
}

.bg-safe {
    background-color: var(--bg-safe);
}

