/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */

.header {
    width: min(500px, 100%);
}

.headshot {
    width: min(380px, 100%);
    height: auto;
}

@media screen and (orientation=landscape) {
    .portfolio-grid {
        display: grid;
        grid-template-areas:
            "a b"
            "a b"
            "c b";
    }
    .area-a {
        grid-area: a;
    }
    .area-b {
        grid-area: b;
    }
    .area-c {
        grid-area: c;
        justify-content: end;
    }
}