.projects {
    display: grid;
    gap: 2rem;
}

.project {
    position: relative;
    max-height: 300px;
}

.project_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_year {
    position: absolute;
    top: 1rem;
    left: .5rem;
    font-size: 48px;
    letter-spacing: -0.41px;
    color: #FFFFFF;
    mix-blend-mode: overlay;
}

.project_overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11141459;
    color: #FFFFFF;

    visibility: hidden;
}

.project:hover .project_overlay,
.project:focus-within .project_overlay {
    visibility: visible;
}

.project_arrow {
    border: 1px solid #FFFFFF;
}

.project_arrow:hover {
    background-color: var(--bg-secondary);
}

.project_image_hero {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.project_prev {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #FFFFFF;
    background-color: #00000077;
}

.project_desc {
    font-family: -apple-system, 'Satoshi-Regular', 'Nohemi', sans-serif;
}

.project_row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--color-border);
}

.border-top {
    border-top: 1px solid var(--color-border);
}

.rotate-180 {
    transform: rotate(180deg);
}

@media screen and (orientation=landscape) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:900px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}