table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-borderless,
.table-borderless :is(th, td) {
    border: none;
}

.table-striped tr:has(td):nth-child(odd) {
    background-color: var(--bg-table-row);
}

th,
td {
    padding: 5px;
}

th {
    text-align: left;
}